pipeline/PL_ACT_PAUSE_SQLPOOL.json
{
	"name": "PL_ACT_PAUSE_SQLPOOL",
	"properties": {
		"description": "Pauses SQL pool",
		"activities": [
			{
				"name": "Until SQL POOL is Paused or Online",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused')),Bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Online')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check for changed SQLPool Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait before checking again",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check for changed SQLPool Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTimeUntil",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.00:20:00"
				}
			},
			{
				"name": "Check if SQL POOL is Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until SQL POOL is Paused or Online",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Pause SQL POOL",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/@{pipeline().parameters.Action}?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Nothing": "Nothing"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait before Continue",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Pause SQL POOL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTime",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Action": {
				"type": "string",
				"defaultValue": "Pause"
			},
			"WaitTime": {
				"type": "int",
				"defaultValue": 10
			},
			"WaitTimeUntil": {
				"type": "int",
				"defaultValue": 30
			},
			"Synapse_ResourceGroupName": {
				"type": "string",
				"defaultValue": "qsidw"
			},
			"SynapseWorkspace": {
				"type": "string",
				"defaultValue": "masidwworkspace"
			},
			"SynapseDedicatedSQLPool": {
				"type": "string",
				"defaultValue": "bayramidw"
			},
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "6cc936ce-42e8-42b1-b8ff-9e9addff3cad"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-03-30T14:33:24Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}